@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #222;
  color: #eee;
}
.btn {
  border: none;
  background-color: #eee;
  color: #222;
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  padding: 2rem 3rem;
}
.btn:hover {
  background-color: #ccc;
}
/* Header */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p.between {
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
/* Main */
main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
main .right {
  font-size: 2rem;
  width: 52rem;
}
main .right p.message {
  margin-bottom: 8rem;
  height: 3rem;
}
main .right .label-score {
  margin-bottom: 2rem;
}
